<div class="welcome">
  <h1>Welcome <%= current_user.name %>!</h1>

  <h1>Find a show</h1>

  <div class="search-drama">
    <%= form_tag(drama_search_path, method: "get") do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
<div>
